<form action="" name="empform" #form="ngForm" autocomplete="off"
(ngSubmit)="onSubmit(form)">
    <!-- Employee ID -->
    <input type="text" name="EmployeeId" [(ngModel)]="empService.formData.EmployeeId">
    <!-- Employee Name -->
    <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" name="EmployeeName" #EmployeeName="ngModel" [(ngModel)]="empService.formData.EmployeeName"
            class="form-control" placeholder="Enter Full Name" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid': EmployeeName.touched && EmployeeName.invalid}" />
        <div class="validation-error" *ngIf="EmployeeName.touched && EmployeeName.invalid">
            <div *ngIf="EmployeeName.errors.required">Full Name is required</div>
        </div>
    </div>

    <!-- Employee Designation -->
    <div class="form-group">
        <label for="">Designation</label>
        <input type="text" name="Designation" #Designation="ngModel" [(ngModel)]="empService.formData.Designation"
            class="form-control" placeholder="Enter Designation" maxlength="25" required
            [ngClass]="{'is-invalid': Designation.touched && Designation.invalid}" />
        <div class="validation-error" *ngIf="Designation.touched && Designation.invalid">
            <div *ngIf="Designation.errors.required">Designation is required</div>
        </div>
    </div>

       <!-- Employee Contact -->
       <div class="form-group">
        <label for="">Contact</label>
        <input type="text" name="Contact" #Contact="ngModel" [(ngModel)]="empService.formData.Contact"
            class="form-control" placeholder="Enter Contact" maxlength="10" required
            [ngClass]="{'is-invalid': Contact.touched && Contact.invalid}" />
        <div class="validation-error" *ngIf="Contact.touched && Contact.invalid">
            <div *ngIf="Contact.errors.required">Contact is required</div>
        </div>
    </div>

    <!-- Date of joining -->
     <div class="form-group">
        <label for="">Date of Joining</label>
        <input type="date" name="DateOfJoining" #DateofJoining="ngModel" [(ngModel)]="empService.formData.DateOfJoining"
            class="form-control" required [ngClass]="{'is-invalid': DateofJoining.touched && DateofJoining.invalid}">
        <div class="validation-error" *ngIf="DateofJoining.touched && DateofJoining.invalid">
            <div *ngIf="DateofJoining.errors.required">Date of Joining is required</div>
        </div>
    </div> 
    <!-- Department drop-down -->
     <div class="form-group">
        <label class="col-md-4">Department</label>
        <select name="DepartmentId" id="DepartmentId" class="form-control" #DepartmentId="ngModel"
            [(ngModel)]="empService.formData.DepartmentId" required>
            <option value=0 disabled>Choose Department</option>
            <option *ngFor="let dept of empService.departments"
             value="{{dept.DepartmentId}}">{{dept.DepartmentName}}</option>
            

        </select>
        <div class="validation-error" *ngIf="DepartmentId.touched && DepartmentId.invalid">
            <div *ngIf="DepartmentId.errors.required">Department is required</div>
        </div>

    </div> 
    <!-- Is Active -->
    <br>
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">Is Active</label>
            <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
                [(ngModel)]="empService.formData.IsActive" class="form-check-input">
        </div>
    </div>
    <!-- Submit Button -->
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit</button>

    </div>

</form>