<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-home fa-5x"></i></span>
                
                Employee Info
            </a>
        </div>
        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-dashboard fa-5x" ></i></span>
            Reports
            </a>
        </div>
        <div class="col-sm">
            <a href="../employeelist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span><i class="fa fa-money fa-5x"></i></span>
            New Update
</a>
        </div>
    </div>

</div>